.footer {
  width: 99.4vw;
  background: linear-gradient(360deg,
      #000E38 0%,
      #3F186A 100%);

  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

  overflow: hidden;
}

.footer__inner {
  max-width: 1920px;
  height: 274px;
  margin: 0 auto;
  padding: 0 80px;
  display: grid;
  grid-template-columns: 220px 1fr 1fr 1fr 1fr;
  align-items: center;
  align-items: start;
  gap: 40px;
  padding: 60px;
}

.footer__brand img {
  width: 142px;
  height: auto;
}

.footer__block h4,
.footer__social h4 {
  font-family: 'Museo Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  margin: 0 0 6px 0;
}

.footer__block p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 1);
  margin: 0;
}

.footer__icons {
  display: flex;
  gap: 16px;
}

.footer__icons img {
  width: 52px;
  height: 52px;
}

.footer__copyright {
  background: #ffffff;
  text-align: center;

  font-family: 'Museo Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 12px 20px;
}

@media (max-width: 1024px) {
  .footer__inner {
    grid-template-columns: 1fr 1fr;
    height: auto;
    padding: 48px 40px;
    gap: 32px;
  }

  .footer__brand {
    grid-column: span 2;
  }
}

@media (max-width: 600px) {
  .footer__inner {
    grid-template-columns: 1fr;
    padding: 40px 20px;
    text-align: left;
  }

  .footer__brand img {
    width: 140px;
  }

  .footer__icons {
    gap: 16px;
  }
}

.footer__block--icon {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.footer__icon {
  width: 52px;
  height: 52px;
  flex-shrink: 0;
  margin-top: 4px;
}